.main-navbar {
    background-color: #0a2744;
    color: #FFFFFF;

    .pt-navbar-heading {
        color: #FFFFFF;
    }

    .navbar-divider {
        background-color: #FFFFFF;
    }

    .navbar-icon {
        &::before {
            color: #FFFFFF;
        }
        span {
            color: #FFFFFF;
        }
    }

    .pulsing-keyword-tag {
        box-shadow: 0 0 0 rgb(6, 153, 35);
        animation: pulse 1s infinite;
    }

    @-webkit-keyframes pulse {
        0% {
            -webkit-box-shadow: 0 0 0 0 rgba(6, 153, 35, 0.8);
        }
        70% {
            -webkit-box-shadow: 0 0 0 30px rgba(6, 153, 35, 0.4);
        }
        100% {
            -webkit-box-shadow: 0 0 0 0 rgba(6, 153, 35, 0);
        }
    }
    @keyframes pulse {
        0% {
            -moz-box-shadow: 0 0 0 0 rgba(6, 153, 35, 0.8);
            box-shadow: 0 0 0 0 rgba(6, 153, 35, 0.4);
        }
        70% {
            -moz-box-shadow: 0 0 0 30px rgba(6, 153, 35, 0.4);
            box-shadow: 0 0 0 30px rgba(6, 153, 35, 0);
        }
        100% {
            -moz-box-shadow: 0 0 0 0 rgba(6, 153, 35, 0);
            box-shadow: 0 0 0 0 rgba(6, 153, 35, 0);
        }
    }

}
