@import "~@blueprintjs/core/dist/blueprint.css";

body {
    background-color: lightgray;

    .panel-content {
        margin: 0 20px;

        .pt-card {
            margin: 20px 0;
            display: inline-block;
            width: 48%;
            vertical-align: top;
            height: 150px;

            &:nth-of-type(1) {
                margin-right: 2%;
            }

            p {
                color: #182026;
            }

            .pt-tag {
                margin: 0 10px 10px 0;
            }
        }
    }

    .pt-button {
        margin: 0 5px;
    }

    a:hover {
        text-decoration: none;
    }

}
