@import "~@blueprintjs/core/dist/blueprint.css";

body {
    background-color: lightgray;

    .panel-content {
        margin: 10px 20px;

        .pt-card {
            margin: 20px 0;
            display: inline-block;
            width: 48%;
            vertical-align: top;
            height: 170px;

            &:nth-of-type(1) {
                margin-right: 2%;
            }

            p {
                color: #182026;
            }

            .pt-tag {
                margin: 0 10px 10px 0;
            }

            ul {
                padding-left: 0;

                li {
                    list-style: none;
                    color: #182026;
                    font-size: 12px;
                }
            }
        }

        h4 button {
            line-height: 0.9rem;
        }
    }

    .pt-button {
        margin: 0 5px;
    }

    a:hover {
        text-decoration: none;
    }

}
