.panel-content {

    .bp3-card.graph-card {
        width: 100% !important;
        height: 480px !important;
        padding: 3px;
        margin-top: 5px;

        .graph-chart {
            path.link {
                fill: none;
                stroke: #999;
                stroke-width: 1.5px;
            }

            circle {
                fill: #0a2744;
                stroke: #fff;
                stroke-width: 1.5px;
            }

            text {
                fill: #000;
                font: 15px sans-serif;
                pointer-events: none;
            }
        }

        .graph-spinner {
            width: 100%;
            height: 100%;
            display: flex;

            .bp3-spinner {
                margin: auto;
            }
        }
    }

    .card-label {
        h5 {
            margin-top: 20px;
            display: inline-block;
        }

        .bp3-tag {
            margin-left: 10px;
            margin-right: 20px;
        }
    }

}
